body{
  font: italic small-caps bold 16px/2 cursive;
  background-color:#ADD8E6
}
hr{
  border-color: #66a3ff;
  border-style: dotted none none;
  border-width: 5px;
  width:10%;
  height:0;

}
h1{
  color: #66BFBF;
}

h3{
  color: #3399ff;
}
